@font-face {
  font-family: 'JetBrainsMono Nerd Font';
  src:'/JetBrainsMono-2.304/fonts/webfonts' ;
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Optional: controls how font loads */
}

pre, code {
  font-family: 'JetBrainsMono Nerd Font', monospace;
}

body {
  background-color:#b7b3d9;
  background-size:auto;
  color:black;
  font-family: 'JetBrainsMono Nerd Font', monospace;
}

h1{
  text-align: center;
  text-decoration: underline;
}

h2{
text-align: center;
}

.flex-container{
  box-sizing: border-box;
  width: 800px;
  height: 800px;
  margin: 0 auto;
  border: 4px solid black;
  background-color: white;
  padding: 4px;
  display:flex;
  flex-wrap: wrap;

}

.col{
  flex: 0 0 auto;
  box-sizing: border-box;
  flex-grow:1;
  outline: 1px solid black; 
  background-color: blueviolet;
  border-radius:8px;
  opacity:100%;
}


.col:hover{
  background-color: tomato;
}

.labels{
  display: flex;
  justify-content: center;
  margin-top: 24px;
  margin-bottom: 24px;

}

.input{
  
  height: 30px;
  width: 60px;
  font-size: 24px;
  margin: 0 16px;
}

.button{
  height: 35px;
  padding: 4px;
  font-size: 20px;
  margin: 0 16px;
}



